<div class="container social-page col-lg-8">
  <h2>Post a comment</h2>
  <form action="/{{this}}/social" method="POST" enctype="multipart/form-data">

    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment" type="text" name="comment"></textarea>
      {{!-- <input type="text" name="comment"> --}}
    </div>
    <label>Upload an image</label>
    <input type="file" name="photo" value="">

    <input type="submit" value="SAVE">
      {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
  </form>
  <div>
    {{#each posts}}
    <div class="comment-box">
      <hr>
      <div class="user-info-comment">
        <img class="icon" src="{{this.postedBy.avatar}}" alt="">
        <span>{{this.postedBy.username}}</span>
      </div>
      <span class="comment-inline">{{this.comment}}</span>
      <img class="image-size" src="{{this.imgPath}}" alt="">
    </div>
    {{/each}}
  </div>
</div>
