<div class="container social-page col-lg-8">
  <h2>Post a comment to /{{postedOn}}</h2>
  <form action="/{{postedOn}}/social" method="POST" enctype="multipart/form-data">

    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="4" id="comment" type="text" name="comment"></textarea>
    </div>
    <label>Upload an image</label>
    <input type="file" name="photo" value="">

    <input type="submit" value="SAVE">
    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
  </form>

  <div>
    {{#each posts}}
    <div class="comment-box">
      <hr>
      <div class="user-info-comment">
        <img class="icon" src="{{this.postedBy.avatar}}" alt="">
        <span>{{this.postedBy.username}}</span>
        {{#if owner}}
          <a href="/comment/{{this._id}}/delete"><button>delete post</button></a>
      </div>
          <span class="edit-text">click text to edit</span>
          <a href="/{{this.postedOn}}/social"><button>save</button></a>
      <br></br>
          <span class="comment-inline" data-id={{this._id}} contenteditable="true">{{this.comment}}</span>
        {{else}}
      </div>
          <span class="comment-inline" contenteditable="false">{{this.comment}}</span>
        {{/if}}
      <img class="image-size" src="{{this.imgPath}}" alt="">
    </div>
    {{/each}}
  </div>
</div>

<script>
  $('.comment-inline').blur(function(e){
    console.log(e,this);
    $.post(`/comment/${$(this).data('id')}/edit`, {comment:$(this).text()}, function(res){
      console.log(res, 'saved')
    })
  })
</script>